<div class="w-full h-full flex justify-center items-center ">
	<form [formGroup]="storeForm" (submit)="onSubmit()" class="max-w-screen-sm w-full bg-primary px-4 py-8 rounded-lg shadow-md">
		<div class="flex items-center justify-between flex-grow">
			<h1 class="text-2xl font-black">Nova objava </h1>
			<p class="text-sm text-muted font-bold">{{ classroomData?.name }}</p>
		</div>
		
		<div class="mt-5">
			<label for="title" class="block mb-2 text-sm font-medium text-label">Naslov</label>
			<input type="text" id="title" formControlName="title" name="title" class="bg-secondary border text-primary input-primary block w-full p-2.5" placeholder="Sektor 5" required />
		</div>
		<div class="mt-5">
			<label for="body" class="block mb-2 text-sm font-medium text-label">Objava</label>
			<textarea type="text" id="body" formControlName="body" name="body" class="bg-secondary border text-primary input-primary block w-full p-2.5" placeholder="Sektor 5" required></textarea>
		</div>

		<div class="mt-5">
			<label for="name" class="block mb-2 text-sm font-medium text-label">Tip objave</label>
			<select name="type" id="type" formControlName="type" class="bg-secondary border text-primary input-primary text-sm rounded-lg block w-full p-2.5 cursor-pointer" aria-label="Tip studija">
				<option value="text" selected>Tekstualna objava</option>
				<option value="announcement">Obaveštenje</option>
				<option value="file">Za arhivu</option>
			</select>
		</div>
		@if(storeForm.value.type === 'announcement') {
			<p class="text-xs text-muted pl-2 mt-1"><span class="text-anthea-400 dark:text-anthea-700">*</span> Datoteke koje su otpremljene u objavi koja je označena kao obaveštenje <span class="font-bold underline">NE IDU</span> u arhivu</p>
		}

		@if(storeForm.value.type === 'file' || storeForm.value.type === 'announcement') {
			<div class="mt-5">
				<label class="block mb-2 text-sm text-label" for="files">Datoteke</label>
				<input class="block w-full p-2 input-primary cursor-pointer" formControlName="files" id="files" type="file" multiple (change)="onFileSelected($event)" >
				<!-- <input type="file" multiple (change)="onFileSelected($event)" /> -->
			</div>
			<p class="text-xs text-muted pl-2 mt-1"><span class="text-anthea-400 dark:text-anthea-700">*</span> Maksimalan broj datoteka je 16, svaka mora biti ispod 250MB</p>
	
			<div class="flex flex-col gap-2 items-start">
				@for(file of selectedFiles; track file; let i = $index) {
					<app-upload [file]="file" [id]="i" (deleted)="deleteFile(i)" />
				}
			</div>
		}

		<div class="mt-8">
			<button type="submit" class="p-2 w-full gradient-anthea hover:text-anthea-950 rounded-lg  transition-all active:scale-95">Dodaj objavu</button>
		</div>
	</form>
</div>