<div class="w-full h-full flex justify-center items-center">
	<form [formGroup]="storeForm" (ngSubmit)="onSubmit()" class="max-w-screen-sm w-full bg-primary px-4 py-8 rounded-lg shadow-md">
		<h1 class="text-2xl font-black">Nova učionica</h1>
		<div class="mt-5">
			<label for="name" class="block mb-2 text-sm font-medium text-label">Naziv učionice</label>
			<input type="text" id="name" formControlName="name" name="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-royal-blue-500 focus:border-royal-blue-500 block w-full p-2.5" placeholder="Web programiranje (2023/24)" required />
		</div>
		<div class="mt-5">
			<label for="subjectId" class="block mb-2 text-sm font-medium text-label">Predmet</label>
			<select name="subjectId" id="subjectId" formControlName="subjectId" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg active:ring-royal-blue-500 active:border-royal-blue-500 focus:ring-royal-blue-500 focus:border-royal-blue-500 block w-full p-2.5 cursor-pointer" aria-label="Predmet">
				<option *ngFor="let subject of subjects;" [ngValue]="subject.id">
					{{ subject.name }}
				</option>
			</select>
		</div>

		<div class="mt-8">
			<button type="submit" class="p-2 w-full gradient-anthea hover:text-anthea-950 text-white rounded-lg  transition-all active:scale-95">Napravi učionicu</button>
		</div>
	</form>
</div>
