<div class="w-full h-full flex justify-center items-center">
	<form [formGroup]="storeForm" (ngSubmit)="onSubmit()"  class="max-w-screen-sm w-full bg-primary px-4 py-8 rounded-lg shadow-md">
		<h1 class="text-2xl font-black">Novi predmet</h1>
		<div class="mt-5">
			<label for="name" class="block mb-2 text-sm font-medium text-label">Naziv predmeta</label>
			<input type="text" id="name" formControlName="name" name="name" class="bg-secondary input-primary block w-full p-2.5" placeholder="Web programiranje" required />
		</div>
		<div class="mt-5">
			<label for="name" class="block mb-2 text-sm font-medium text-label">Semestar</label>
			<input type="number" id="semester" formControlName="semester" name="semester" min="1" max="16" class="bg-secondary input-primary block w-full p-2.5" placeholder="1" required />
		</div>
		<div class="mt-5">
			<label for="departmentId" class="block mb-2 text-sm font-medium text-label">Odsek</label>
			<select name="departmentId" id="departmentId" formControlName="departmentId" class="bg-secondary input-primary block w-full p-2.5 cursor-pointer" aria-label="Tip studija">
				<option *ngFor="let department of departments;" [ngValue]="department.id">
					{{ department.name }}
				</option>
			</select>
		</div>

		<div class="mt-8">
			<button type="submit" class="p-2 w-full gradient-anthea hover:text-anthea-950 text-white rounded-lg  transition-all active:scale-95">Dodaj predmet</button>
		</div>
	</form>
</div>
