<div class="w-full h-full flex justify-center items-center">
	@if(isSuccess) {
		<form [formGroup]="updateForm" (ngSubmit)="onSubmit()"  class="max-w-screen-sm w-full bg-white px-4 py-8 rounded-lg shadow-md">
			<h1 class="text-2xl font-black">Uredi predmet</h1>
			<div class="mt-5">
				<label for="name" class="block mb-2 text-sm font-medium text-gray-900">Naziv predmeta</label>
				<input type="text" id="name" formControlName="name" name="name" [value]="subject?.name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-royal-blue-500 focus:border-royal-blue-500 block w-full p-2.5" placeholder="Web programiranje" required />
			</div>
			<div class="mt-5">
				<label for="name" class="block mb-2 text-sm font-medium text-gray-900">Semestar</label>
				<input type="number" id="semester" formControlName="semester" name="semester" [value]="subject?.semester" min="1" max="16" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-royal-blue-500 focus:border-royal-blue-500 block w-full p-2.5" placeholder="1" required />
			</div>
			<div class="mt-5">
				<label for="departmentId" class="block mb-2 text-sm font-medium text-gray-900">Odsek</label>
				<select name="departmentId" id="departmentId" formControlName="departmentId" [value]="subject?.departmentId" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg active:ring-royal-blue-500 active:border-royal-blue-500 focus:ring-royal-blue-500 focus:border-royal-blue-500 block w-full p-2.5 cursor-pointer" aria-label="Tip studija">
					<option *ngFor="let department of departments;" [ngValue]="department.id" selected="{{ department.id === subject?.departmentId }}">
						{{ department.name }}
					</option>
				</select>
			</div>
	
			<div class="mt-8">
				<button type="submit" class="p-2 w-full gradient-anthea hover:text-anthea-950 text-white rounded-lg  transition-all active:scale-95">Uredi predmet</button>
			</div>
		</form>
	}
</div>
