<div class="h-full flex flex-col items-center gap-5">
	<div class="h-auto w-4/5">
		<div class=" flex gap-2 rounded-lg shadow-md p-4 bg-mosaic-pattern-anthea bg-cover">
			<img src="assets/img/profile.webp" class="rounded-full w-52 h-52 border-4 border-anthea-900" alt="Profilna slika korisnika {{ user?.name }}">
			<div class="">
				{{ user?.name }}
				{{ user?.email }}
			</div>
		</div>
	</div>
	<div class="bg-primary text-primary h-auto w-4/5 p-4 rounded-lg shadow-md">
		<h1 class="text-2xl font-black">Moje učionice</h1>
	</div>
</div>
